/*
		Author:					Samuel Murillo			  	
		Date:             		4/15/2020	  
        Last revised:
		Assignment:           Semester Project
		Purpose:              Styling the "About Us" page
*/

body {
	background-color: rgb(140,140,140);
	color: black;
	font-family: sans-serif;
	
}
img.floatRight {
    display: block;
    float: right;
    height: 200px;
    width: 200px;
    margin: 10px;
}
header.title {
    padding: 25px 0;
    margin: auto;
    height: 190px;
    background-color: #3A3A3A;
    color: white;
    text-align: center;
}

div.content {
	padding: 10px 0px;
}
nav {
    height: 2em;
    padding: 0;
    background-color: #000000;
    border-bottom: 1px solid #8E8E8E;
    margin-top: 1px solid #8E8E8E;   
}
.topnav {
    background-color: #000000;
}
.topnav {
    float: left;
    color: white;
    text-align: center;
}
h1 {
    width: 75%;
    margin: 0;
    color: white;
}
img.floatMiddle {
    display: block;
    height: 225px;
    width: 300px;
    margin: 10px auto 20px;
    float: right;
}
footer {
    clear: both;
    line-height: 2em;
    margin: auto;
    background-color: #8E8E8E;
    color: white;
    width: 900px;
    
}
